/backend/node_modules
/web/node_modules
/web/.next

# ENV files
/backend/.env
/web/.env

# Web
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web//node_modules
/web//.pnp
/web/.pnp.*
/web/.yarn/*
/web/!.yarn/patches
/web/!.yarn/plugins
/web/!.yarn/releases
/web/!.yarn/versions

# testing
/web/coverage

# next.js
/web/.next/
/web/out/

# production
/web//build

# misc
/web/.DS_Store
/web/*.pem

# debug
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/web/.env*

# vercel
/web/.vercel

# typescript
/web/*.tsbuildinfo
/web/next-env.d.ts
