POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_DATABASE=
POSTGRES_HOST=

# FILE UPLOAD
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CF_ACCOUNT_ID=
CF_BUCKET=

#URL
BASE_URL=
BASE_PUBLIC_BUCKET_URL=
BASE_WEB_INTERNAL_URL=
BASE_SERVER_INTERNAL_URL=